# various IDE and project directories
.pio
.vscode

# esp-cam main project, ignore working directories
software/esp32/master/.devcontainer
software/esp32/master/build

# esp OTA python sample server for uploading the firmware
software/esp32/ota_server/*/
software/esp32/ota_server/*.*
software/esp32/ota_server/lib64
!software/esp32/ota_server/README.md


# exclude software/esp32 samples
software/samples
software/*.md
# Temporary files, tests, download directories
**/tmp*
downloads

# CAD projects
**/*.FCStd*
**/*.FCBak
**/*.iges
# Ignore kicad schematics
*.kicad*
beholder-backups
fp-info-cache
