# various IDE and project directories
.pio
.vscode

# Working directories
software/server
software/contrib
software/ESP32*
software/*.md

# Temporary files
**/tmp*

# CAD projects
**/*.FCStd*
**/*.FCBak
**/*.iges
