# various IDE and project directories
.pio
.vscode

# Schematics
*.kicad*
fp-info-cache

downloads
# Working directories
software/esp32/master/.devcontainer
software/esp32/master/build

# old working config
software/server

# software/esp32
software/samples
software/contrib
software/ESP32*
software/hello*
software/*.md

# Temporary files
**/tmp*

# CAD projects
**/*.FCStd*
**/*.FCBak
**/*.iges
